<h3>
    {{viewTitle}}
</h3>
<form action="/employee" method="post" autocomplete="off">
<input type="hidden" name="_id" value="{{employee._id}}">
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="FullName" placeholder="Full Name" value="{{employee.FullName}}">
        <div class="text-danger">{{employee.FullNameError}}</div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="Email" placeholder="Email" value="{{employee.Email}}">
        <div class="text-danger">{{employee.EmailError}}</div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
        <label>Mobile Number</label>
        <input type="text" class="form-control" name="MobileNumber" placeholder="Mobile Number" value="{{employee.MobileNumber}}">
    </div>
    <div class="form-group col-md-6">
        <label>City</label>
        <input type="text" class="form-control" name="City" placeholder="City" value="{{employee.City}}">
    </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
        <a class="btn btn-secondary" href="/employee/list"><i class="fa fa-list-alt">View All</i></a>
    </div>
</form>