<h3><a class="btn btn-secondary" href="/employee"><i class="fa fa-plus">Create New</i></a>Employee List</h3>
<table class="table table striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.FullName}}</td>
            <td>{{this.Email}}</td>
            <td>{{this.MobileNumber}}</td>
            <td>{{this.City}}</td>
            <td>
                <a href="/employee/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                 <a><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>